# ------------------------------------------------------------------------------
# Python
# ------------------------------------------------------------------------------
__pycache__/
*.pyc

# ------------------------------------------------------------------------------
# Virtual Environments
# ------------------------------------------------------------------------------
venv/

# ------------------------------------------------------------------------------
# Environment Configuration
# ------------------------------------------------------------------------------
.env

# ------------------------------------------------------------------------------
# Application Data
# ------------------------------------------------------------------------------
database/passwords.db

# ------------------------------------------------------------------------------
# IDE Settings
# ------------------------------------------------------------------------------
.vscode/

# ------------------------------------------------------------------------------
# Operating System Files
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db